body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%; /* Ustaw minimalną wysokość na 100% */
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Wyśrodkuj tylko w poziomie */
  padding: 20px 0; /* Dodaj padding, aby uniknąć przycinania góry */
}

.container {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: linear-gradient(
    to right,
    #6a11cb,
    #2575fc
  ); /* Gradient background for container */
}

h1 {
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #2575fc; /* Normal state background color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #6a11cb; /* Hover state background color */
}
